@using Music.Lyrics.Word.Counter.Services
@using Music.Lyrics.Word.Counter.Models
@inject IMusicApiClient client

@if (Songs == null)
{
    <div class="alert alert-info">Loading Works....</div>
}
else
{
    <div class="alert alert-dark">@Songs.Count</div>
}   

@code {

    [Parameter]
    public string ArtistId { get; set; }
    private List<Song> Songs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Songs = await client.GetSongTitlesAsync(ArtistId);
    }
}