@page "/"
@using Music.Lyrics.Word.Counter.Services
@using Music.Lyrics.Word.Counter.Models
@using Music.Lyrics.Word.Counter.Components
@inject IMusicInfoApiClient client

<h5><span class="d-block p-2 text-dark">Enter Artist Name Below</span></h5>

<div class="input-group mb-3"> 
    <div class="input-group-prepend">
        <button class="input-group-text btn btn-primary" id="basic-addon1" @onclick="GetArtist">Find</button>
    </div>
    <input type="text" class="form-control" placeholder="Artist Name" aria-label="Artist Name" aria-describedby="basic-addon1" @bind="ArtistName"/>
</div>


<div>
    @if(Artist != null) 
    {
        <h5 class="alert alert-dark">Artist @Artist.Name has been found</h5> 
        <LyricsDetails Artist="@Artist"/>
    }
</div>

@code {
    private string ArtistName { get; set; }
    private Artist Artist { get; set; }
    private async Task GetArtist() {
        Artist = null;
        Artist =  await client.GetArtistAsync(ArtistName);
    }
}
